<h3>Welcome to GUTHUBE, <%= current_user.nickname %>! This site is absolutely not like GitHub.</h3>

<%= link_to "Logout", "/logout", method: 'delete' %>
<br>
<br>
<%= image_tag(@user.image) %><br>
<p><b>Followers (<%= @user_information[:followers] %>)</b></p>
<p><b>Following (<%= @user_information[:following] %>)</b></p>
<p><b>Starred Repos (<%= @starred_repos %>)</b></p>
<br>
<br>
<h3><b>Your Recent Commits</b></h3>
<% @recent_commits.each do |commit| %>
  <li>
    <p><b><%= commit[:repository][:full_name] %></b></p>
    <p><%= commit[:commit][:message] %></p>
    <p><%= commit[:commit][:author][:date] %></p><br>
  </li>
<% end %>
<br>
<br>
<h3><b>Your Repositories (<%= @repos.count %>)</b></h3>
<% @repos.each do |repo| %>
  <li>
    <p><b><%= repo[:full_name] %></b></p>
    <p><%= repo[:language] %></p>
    <p><%= repo[:updated_at] %></p><br>
  </li>
<% end %>
<br>
<br>
<h3><b>Users You Follow Activity</b></h3>
<% @users_followed_commits.each do |user, commits| %>
  <p><b><%= user %></b></p><br>
    <% commits.each do |commit| %>
      <li>
        <p><b><%= commit[:repository][:full_name] %></b></p>
        <p><%= commit[:commit][:message] %></p>
        <p><%= commit[:commit][:author][:date] %></p><br>
      </li>
    <% end %>
<% end %>
